# dependencies
node_modules
.pnp
.pnp.*

.turbo

# testing
coverage

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# build output
dist
.next

# typescript
*.tsbuildinfo

# IDE
.idea
.vscode
*.swp
*.swo

# generated - uncomment below if you want to ignore generated folders
# generated

skills-lock.json

.agents
